*{
    margin: 0;
    padding: 0;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    color: #B5B5B5;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
textarea{
    resize: none;
    font-family: Arial, Helvetica, sans-serif;
    text-indent: 10px;
}
.NotificationContainer{
    width: 299px;
    height: 223px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    box-shadow: 0px 5px 5px  #00000029;
    padding: 10px;
}
.NotificationImg{
    width: 93px;
    height: 95%;
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background: rgb(15,50,105);
    background: transparent linear-gradient(180deg, #1F83B9 0%, #1A4A8D 100%) 0% 0% no-repeat padding-box;
    box-shadow: 0px 5px 5px #00000029;
}
.NotificationImg__img{
    width: 28px;
    filter: invert(1);
    object-fit: cover;
    border-radius: 20px 0px 0px 20px;
}
.NotificationImgContainer{
    width: 66px;
    height: 66px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    box-shadow: inset 0px 0px 10px 1px rgba(0, 0, 0, 0.144);
}
.NotificationContent{
    width: 65%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 1rem;
}
.NotificationContainer__title{
    width: 100%;
    font-size: 12px;
    font-weight: bold;
}
.NotificationContainer__number{
    width: 100%;
    font-size: 12px;
    font-weight: 500;
}
.NotificationContainer__text{
    width: 100%;
    font-size: 12px;
    font-style: italic;
}
.NotificationContainer__input{
    width: 100%;
    border-radius: 10px;
    height: 35%;
    margin-top: 10px;
    margin-bottom: 10px;
    border: none;
    box-shadow: inset 0px 0px 10px #00000029;
    text-align: top;
    font-weight: 700;
    outline: none;
}
.NotificationContainer__btn{
    width: 100%;
    height: 12%;
    border: none;
    background: transparent linear-gradient(180deg, #7BCA10 0%, #619D10 100%) 0% 0% no-repeat padding-box;
    color: white;
    border-radius: 10px;
    font-size: 14px;
}